/* https://en.bem.info/methodology/naming-convention/ */
/* block-name__elem-name_mod-name_mod-val */
/* all font sizes defined in rem */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "GoudySansStd";
    src: url(../fonts/GoudySansStd-Book.otf) format("truetype");
}

:root {
    --bg: #031f23;
    --bg2: #2a8694;
    --shadow: rgba(0, 0, 0, 0.5);
    --pink-a: #ac0150;

    --pear-0: #546110;
    --pear-2: #85952b;

    --bronze-1: #D70;
    --bronze-2: #d7ba99;
    --bronze-3: #b66200;
    --silver-1: silver;
    --silver-2: #efefef;
    --silver-3: #9f9f9f;
    --gold-1: gold;
    --gold-2: #fff2b5;
    --gold-3: #ceae00;
    --junior-1: #b577ff;
    --junior-2: #e1c8ff;
    --junior-3: #915ece;
    --young-1: #2d9a22;
    --young-2: #8eb489;
    --young-3: #096000;

    --fg-light: rgb(220,220,220);
    /* https://matthewjamestaylor.com/responsive-font-size#:~:text=The%20consensus%20is%20mobile%20font,large%20devices%20is%2018px%20%2D%2020px. */
    font-size: 16px;

    /*--scrollbar-width: calc(100vw - 100%);*/
    /*--aspect-ratio: 1.4145161;*/
    --poster-max-width: 400px;
    --poster-max-height: 566px;
    --about-max-width: var(--poster-max-height);
    --block-max-width: calc(var(--poster-max-width) + var(--about-max-width));
    /*--poster-height: calc(var(--aspect-ratio) * var(--poster-width));*/


    --golden-ratio: 1.61803398875;
    --content-width: min(800px,96vw);
    --golden-content-height: calc(var(--content-width) / var(--golden-ratio));

}

@media screen and (max-width: 799.99px) {
    :root {
        --block-width: calc(min(400px,100%));
        --poster-width: calc(min(400px,100%));
    }
    .event-overview__about {display: none;}
    .event-about {display: flex;}
    .event-trailer {display: block;}

    .event-trailer__buttons {display: none;}
    .event-overview__buttons .whisper-to-action {display: none;}

}
@media screen and (min-width: 800px) {
    :root {
        --block-width: calc(min(var(--block-max-width), 100%));
        --poster-width: 400px; /* min with 100% ??? */
    }
    .event-overview__about {display: flex;}

    .event-overview {display: none;}
    .event-about {display: none;}
    .event-trailer {display: none;}
    .event-overview.event-focus {display: flex;}
    .event-about.event-focus {display: flex;}
    .event-trailer.event-focus {display: block;}
    .event-trailer__buttons {display: flex;}
}


body, html{
    width: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    /*padding: 0.8em 0;*/
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg);
    color: var(--fg-light);
}

h1,h2,h3 {
    font-family: "GoudySansStd", sans-serif;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
}
h1 {font-size: 3rem;}
h2 {font-size: 2.75rem;}
h3 {font-size: 2.5rem;}

h4,h5,h6 {
    font-weight: normal;
    margin: 0;
}
h4 {font-size: 2rem;}
h5 {font-size: 1.5rem;}
h6 {font-size: 1.3rem;}

pre {
    margin: 0;
    font-family: inherit;
    white-space: pre-wrap;
}


a {
    color: var(--fg-light);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: white;
    text-shadow: 0 0 calc(0.25 * 1em) white;
}

.normal {
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,60%);
}

.text-align-center {
    text-align: center;
}


.prenav {
    position: relative;
    background-color: white;
    padding: 10px;
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}
.prenav__logo {
    max-width: 50vw;
}
.prenav__motto {
    color: var(--bg);
}

#topphotos {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 50%;
    mask-image: linear-gradient(to right, transparent 0%, rgba(1,1,1,0.80) 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(1,1,1,0.80) 100%);
}
#topphotos div {
    position: relative;
    top: 40%; /* eyeline */
}
#topphotos div img {
    position: relative;
    max-width: 100%;
}

.fadein {
    animation: fadein 3s;
}
.fadeout {
    animation: fadeout 3s;
    opacity: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

hr {
    width: calc(min(var(--content-width), 90vw));
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /*text-align: center;*/
    background-image: linear-gradient(90deg, var(--bg) 10%, var(--shadow) 50%, var(--bg) 90%);
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
.footer__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30rem;
}
.footer__logo-link {
    text-decoration: none;
    text-align: center;
}
.footer__logo-wrapper {
    display: inline-block;
    padding: 0.75rem;
    width: 3rem;
    height: 2rem;
    overflow: hidden;
    text-align: center;
}
.footer__logo-link:hover .footer__logo-wrapper {
    background: radial-gradient(closest-side circle at center, rgba(255,255,255,0.5) 60%, transparent);
}
.footer__logo-image {
    height: 2rem;
}
.footer-ghost {
    height: 5.5rem;
    /*background-color: white; */
}

.menu__sticker {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg2);
    box-shadow: 0 5px 15px var(--shadow);
    text-align: center;
}

.menu {
    display: inline-block;
    position: relative;
    /*max-width: 100%;*/
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    font-size: 1.0rem;
    max-width: calc(100% - 0em);
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

/* scrollbar width : calc(100vw - 100%);calc(100vw - 100%) */

.menu__main {
    display: flex;
    /*flex-wrap: nowrap;*/
    justify-content: flex-start;
    /*overflow-x: hidden;*/
    /*overflow-y: visible;*/
    height: calc(1lh + 16px);
    padding-right: 2em;
    margin-right: 1em;
    /*max-width: calc(100vw - 4em);*/
}
.menu__underlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}
.menu__hamburger {
    position: absolute;
    right: 0;
    padding: 0 1em 0 0.25em;
    top: 0;
    /* TODO: https://stackoverflow.com/questions/15057478/is-there-a-css-only-way-to-completely-hide-elements-that-partially-overflow */
    /*background-image: linear-gradient(90deg, transparent 0%, var(--bg2) 50%);*/
}
.menu__hamburger .menu__button {
    /*min-width: 2.5em;*/
    text-align: right;
}

.menu__item_top-level {}

.menu__item {
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    padding: 0.5rem;
}
.menu__item_selected {
    background-color: var(--pink-a);
}

.menu__item_top-level.menu__item_selected {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu__button {
    text-decoration: none;
    color: white;
}
.menu__drop-down-holder {
    position: relative;
}
.menu__drop-down-button {
    cursor: initial;
}
.menu__drop-down-button:hover {
    text-shadow: none;
}
.menu__drop-down-menu {
    display: none;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    box-shadow: 0 5px 15px var(--shadow);
    clip-path: inset(0 -15px -15px -15px);
    background-color: var(--bg2);
    z-index: 1;
}
.menu__drop-down-holder.menu__drop-down-dropped .menu__drop-down-menu {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow-x: hidden;
}
.content__item {
    /*max-width: var(--block-max-width);*/
    max-width: var(--content-width);
    margin: 0 10vw;
}

.content-max-width {
    max-width: var(--content-width);
}

.vertical-spacer {
    padding-top: 1em;
    padding-bottom: 1em;
}

.horizontal-spacer {
    padding-left: 1em;
    padding-right: 1em;
}

.trailer__holder {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}
.trailer__wrapper {
    position: relative;
    aspect-ratio: 16/9;
    width: var(--block-max-width);
    max-width: 100vw;
}
#trailer__cover {
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url("../images/Arch-welcome-cover.png");
    background-size: cover;
    cursor: pointer;
}
#trailer__cover-text {
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: min(100px, 10vw);
    font-family: "GoudySansStd", sans-serif;
    font-weight: bold;
    color: var(--fg-light);
    text-shadow: 2px 2px #000000;
}
#trailer__cover-subtext {
    font-size: min(30px, 3vw);
}
#trailer__cover-play {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 60px solid white;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
}



.event-holder {
    /*width: 100%;*/
    width: var(--block-width);
    min-height: calc(var(--poster-max-height) + 5rem);
}
.event-overview {
    width: var(--block-width);
    /*display: flex;*/
    flex-direction: row;
    /*height: var(--poster-height);*/
    background-color: green;
    position: relative;
}

.event-holder:nth-child(odd) .event-overview {
    background-image: linear-gradient(60deg, var(--bg) 10%, var(--bg2) 75%);
    flex-direction: row-reverse;
}

.event-holder:nth-child(even) .event-overview {
    background-image: linear-gradient(-60deg, var(--bg) 10%, var(--bg2) 75%);
    flex-direction: row;
}

.event-holder:nth-child(odd) .event-trailer,
.event-holder:nth-child(odd) .event-about {
    background-image: linear-gradient(60deg, var(--bg) 10%, var(--bg2) 75%);
}
.event-holder:nth-child(even) .event-trailer,
.event-holder:nth-child(even) .event-about {
    background-image: linear-gradient(-60deg, var(--bg) 10%, var(--bg2) 75%);
}

.event-overview__banner-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: margin-box;
    margin: 0 0 10em 10em;
}
.event-overview__banner {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    text-align: center;
    font-size: 24px;
    transform: translateX(50%) translateX(-42px) translateY(22px) rotate(45deg);
    width: 10em;
    border: 2px solid white;
}
.event-overview__banner[data-sold-out=false] {
    background-color: black;
}
.event-overview__banner[data-sold-out=true] {
    font-weight: bold;
    background-color: var(--pink-a);
}

.event-overview__poster {
    display: block;
    width: var(--poster-width);
    aspect-ratio: 400/566;
    /*height: var(--poster-heignameht);*/
    background-color: yellow;
}
.event-overview__poster:hover {
    box-shadow: 0 5px 25px white;
}
.event-overview__about {
    flex-grow:1;
    max-height: var(--poster-max-height);
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.event-overview__details {
    padding: 0.1rem;
    width: 100%;
    text-align: center;
}
.event-overview__title {
    text-align: center;
}
.event-overview__author {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.event-overview__text {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, white 0%, white calc(100% - 5em), transparent calc(100% - 0.5em), transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, white 0%, white calc(100% - 5em), transparent calc(100% - 0.5em), transparent 100%);
}
.event-overview__buttons {
    /*height: 5rem;*/
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}


.call-to-action {
    background-color: var(--pink-a);
    font-size: 1.2rem;
    padding: 0.75rem 1.0rem;
}
.call-to-action:hover {
    box-shadow: 0 5px 25px white;
}
.whisper-to-action {
    background-color: var(--shadow);
    font-size: 1.1rem;
    padding: 0.4rem;
}

.event-about {
    width: var(--block-width);
    background-color: green;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*min-height: var(--poster-height);*/
}
.event-about__text {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.event-trailer {
    width: var(--block-width);
    background-color: green;
}
.event-trailer__video {
    display: block;
    aspect-ratio: 16/9;
}
.event-trailer__back {
    text-align: center;
}
.event-trailer__buttons {
    /*height: 5rem;*/
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.later-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.later-events__image {
    margin: 1rem;

}
a .later-events__image:hover {
    /*border: 10px solid hotpink;*/
}
a .later-events__image:hover {
    box-shadow: 0 5px 25px white;
}

.whatson-misc {
    width: var(--block-width);
}
.whatson-misc__signup-form {
    display: flex;
    justify-content: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), white, rgba(255,255,255,0));
    margin-top: 1em;
    margin-bottom: 1em;
}

.volunteer {
    background-color: var(--bg2);
    padding: 10px;
    margin-bottom: 2em;
}

.audition {
    padding: 10px;
    /*margin-bottom: 2em;*/
}
.content__item:nth-child(even) .audition {
    background-image: linear-gradient(60deg, var(--bg) 10%, var(--bg2) 75%);
}
.content__item:nth-child(odd) .audition {
    background-image: linear-gradient(-60deg, var(--bg) 10%, var(--bg2) 75%);
}
.other__call-to-action, .audition__call-to-action {
    background-color: var(--pink-a);
    margin: 10px -10px -10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.content__item:nth-child(even) .other {
    background-image: linear-gradient(60deg, var(--pear-0) 10%, var(--pear-2) 75%);
}
.content__item:nth-child(odd) .other {
    background-image: linear-gradient(-60deg, var(--pear-0) 10%, var(--pear-2) 75%);
}


.other {
/*    background-image: linear-gradient(0deg, var(--pear-2) 0%, var(--pear-0) 100%);*/
    padding: 10px;
    /*margin-bottom: 2em;*/
}



.membership__row {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
    background-image: linear-gradient(to left, var(--bg2) -100%, var(--bg) 100%);
}

.membership__price.bronze {--main: var(--bronze-1);--highlight: var(--bronze-2);--lowlight: var(--bronze-3);}
.membership__price.silver {--main: var(--silver-1);--highlight: var(--silver-2);--lowlight: var(--silver-3);}
.membership__price.gold {--main: var(--gold-1);--highlight: var(--gold-2);--lowlight: var(--gold-3);}
.membership__price.junior {--main: var(--junior-1);--highlight: var(--junior-2);--lowlight: var(--junior-3);}
.membership__price.young {--main: var(--young-1);--highlight: var(--young-2);--lowlight: var(--young-3);}
.membership__price {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    vertical-align: middle;
    text-shadow: 0 0 6px black;

    border: 2px outset var(--main);
    border-radius: 4px;

    --darkness: 30%;
    --main-1: color-mix(in srgb, var(--main), black var(--darkness));
    --lowlight-1: color-mix(in srgb, color-mix(in srgb, var(--lowlight) 20%, var(--main)), black var(--darkness));
    --highlight-1: color-mix(in srgb, color-mix(in srgb, var(--highlight) 40%, var(--main)), black var(--darkness));
    background-image: linear-gradient(160deg, var(--main-1) 0%, var(--highlight-1) 20%, var(--main-1) 40%, var(--lowlight-1) 100%);
}
.membership__price div {
    text-align: center;
}
.membership__label {
    /*font-size: 1.5em;*/
}
.membership__benefits {
    width: 85%;
    padding: 0 2em;
}
.membership__benefits p {
    font-size: larger;
}

.table {
    display: table;
    width: 100%;
}

.table__row {
    display: table-row;
}

.table__cell {
    display: table-cell;
    padding: 10px;
}

.table__row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}



@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.photo__swap {
    z-index: 2;
    position: relative;
    animation: fade-in 3s;
}

@keyframes fade-away {
    from {opacity: 1;}
    to {opacity: 0;}
}

.photo__old {
    z-index: 1;
    opacity: 0;
    animation: fade-away 3s;
}

.photo__container {
    position: relative;
    width: var(--content-width);
    height: calc(var(--golden-content-height) + 3.5em);
    /*background-color: rgba(0,0,0,50%);*/
    /*padding: 1em;*/
    padding: 0em;
    padding-top: 1.5em;
    padding-bottom: 0;
    background-image: linear-gradient(90deg, rgba(0,0,0,20%) 0%, black 50%, rgba(0,0,0,20%) 100%)
}
.photo__swap {
    position: absolute;
    width: var(--content-width);
    height: calc(var(--golden-content-height) + 2em);
}
.photo__back {
    position: absolute;
    width: var(--content-width);
    height: var(--golden-content-height);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.photo__credit {
    position: absolute;
    bottom: 0.25em;
    left: 0;
    right: 0;
    width: var(--content-width);
    height: 1.5em;
    text-align: center;
    /*background-color: #7a003c;*/
    /*background-image: linear-gradient(90deg, transparent 0%, black 50%, transparent 100%);*/
}

li.list__item__spaced {
    margin: 20px 0;
}

img.float-right {
    float:right;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
img.float-left {
    float:left;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.past__year-index {
    position: relative;
    /*font-size: 390px;*/
    /*width: calc(var(--content-width) - 8em);*/
    min-height: 16em;
    margin-left: 8em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*justify-content: space-around;*/
    /*justify-content: space-evenly;*/
}
/*div.productions {*/
/*padding-left: 3em;*/
/*font-size: x-large;*/
/*height: 100%;*/
/*}*/
div.past__year-background {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 130px;
    font-weight: bold;
    color: rgba(255,255,255,0.25);
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%,-90%);
}



div.past__year {
    /* Full content width: font-size: calc(var(--content-width) * 0.435);*/
    font-size: calc(var(--content-width) * 0.16);
    font-weight: bold;
    text-align: center;
    color: rgba(255,255,255,0.25);
    margin-bottom: -0.25em;
}

div.past__month {
    font-size: calc(var(--content-width) * 0.05);
    font-weight: bold;
    color: rgba(255,255,255,0.4);
    margin-bottom: -0.25em;
    text-align: center;
}

div.past__production {
    font-size: calc(var(--content-width) * 0.1);
    font-weight: bolder;
    color: rgba(255,255,255,0.75);
    text-align: center;
}

.past__disabled {
    color: rgba(255,255,255,0.25);
}

.static-photo__container {
    position: relative;
    width: var(--content-width);
    min-height: var(--golden-content-height);
}
.static-photo__image {
    width: var(--content-width);
    display: block;
}
.static-photo__credit {
    color: var(--grey-b);
    margin-bottom: 1.5em;
    width: var(--content-width);
    height: 1.5em;
    text-align: center;
    background-image: linear-gradient(90deg, transparent 0%, black 50%, transparent 100%);
}
