
:root {
    --aspect-ratio: 1.4145161;
    --my-vw: min(1000px, 100vw);

    /*--bg: #ffaed8;*/
    /*--bg: #f5e8da;*/
    --bg: #3e527a;
    /*--fg-light: rgb(50,50,50);*/
    --fg-light: rgb(220,220,220);
    --fg-dark: rgb(220,220,220);
    --shadow: rgba(0, 0, 0, 0.5);

    --pink-a: #ac0150;
    --pink-b: #d4739c;
    --blue-a: #00738a;
    --blue-b: #46bed6;
    --pear-a: #6d7d14;
    --pear-b: #cdde6e;
    --grey-a: #7d7d7d;
    --grey-b: #e6e6e6;

    --pink-shadow: var(--shadow); /*#63012e;*/
    --pink-1: #ac0150;
    --pink-2: #b61e63;
    --pink-3: #c03a76;
    --pink-4: #ca5789;
    --pink-5: #d4739c;
    --pink-light: #eab9ce;

    --blue-shadow: var(--shadow); /*#00424f;*/
    --blue-1: #00738a;
    --blue-2: #12869d;
    --blue-3: #2399b0;
    --blue-4: #35abc3;
    --blue-5: #46bed6;
    --blue-light: #a3dfeb;

    --pear-shadow: var(--shadow); /*#3f480c;*/
    --pear-1: #6d7d14;
    --pear-2: #85952b;
    --pear-3: #9dae41;
    --pear-4: #b5c658;
    --pear-5: #cdde6e;
    --pear-light: #e6efb7;

    --grey-shadow: var(--shadow); /*#484848;*/
    --grey-1: #7d7d7d;
    --grey-2: #979797;
    --grey-3: #b2b2b2;
    --grey-4: #cccccc;
    --grey-5: #e6e6e6;
    --grey-light: #f3f3f3;
}


/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
/*@import url(http://fonts.googleapis.com/css?family=Atkinson+Hyperlegible);*/

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(../fonts/AtkinsonHyperlegible-Regular.ttf) format("truetype");
    /*src: url(../fonts/AtkinsonHyperlegible-Bold.ttf) format("truetype");*/
}

body {
    margin: 0;
}

html	{
    /*min-height:	100%;*/
    /*font-family:	verdana;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: x-large;
    background-color: var(--bg);
    color: var(--fg-light);
}

.dark {
    color: var(--fg-dark);
}

h1 {
    padding: 10px;
}

a {
    text-decoration: underline;
    color: var(--fg-light);
}
.dark a {
    color: var(--fg-dark);
}
a:hover {
    text-shadow: 0 0 calc(0.009 * var(--my-vw)) white;
    text-decoration: none;
    color: white;
}

.prenav {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.prenav div {
    color: black;
    display: inline-block;
}

nav {
    display: flex;
    flex-wrap: wrap;
    font-size: xx-large;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: var(--pink-1);
    box-shadow: 0 5px 15px var(--shadow);
}

nav a {
    padding: 15px;
}
nav a.selected {
    background-color: var(--blue-1);
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/*html {*/
    /*color: black;*/
/*}*/

.events {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.event {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: calc(0.09 * var(--my-vw)) calc(50vw - (0.40 * var(--my-vw))) calc(0.04 * var(--my-vw)) calc(50vw - (0.40 * var(--my-vw)));
    /* top, right, bottom, left */
}

.eventimage {
    width: calc(0.40 * var(--my-vw));
    height: calc(var(--aspect-ratio) * 0.40 * var(--my-vw));
    background: black;
}
.eventimage img {
    width: calc(0.40 * var(--my-vw));
    height: calc(var(--aspect-ratio) * 0.40 * var(--my-vw));
}

.eventdata {
    display: flex;
    flex-direction: column;
    width: calc(0.40 * var(--my-vw));
    height: calc(var(--aspect-ratio) * 0.40 * var(--my-vw));
    border-radius: 0 0 calc(0.31 * var(--my-vw)) 0;
}
.eventdatum {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: calc(0.005 * var(--my-vw));
}

.eventdatum:nth-child(1) {
    font-size: calc(0.03 * var(--my-vw));
}
.eventdatum:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.15);
}
.eventdatum:nth-child(3) {
    font-size: calc(0.03 * var(--my-vw));
}
.eventdatum:nth-child(4) {
    font-size: calc(0.03 * var(--my-vw));
}
.eventdatum:nth-child(5) {
    font-size: calc(0.05 * var(--my-vw));
}

.bold {
    font-weight: bold;
}
.button {
    padding: calc(0.03 * var(--my-vw));
    cursor: pointer;
    box-shadow: 0px 5px 15px var(--pink-1);
}
.button.compact {
    padding: calc(0.01 * var(--my-vw));
}
.button:hover {
    color: white;
    border-color: white;
    box-shadow: 0px 5px 25px white;
}
.button.compact:hover {
    box-shadow: 0px 5px 50px 50px white;
}


.main .eventdata { background-image: linear-gradient(0deg, var(--pink-5) 0%, var(--pink-1) 100%); }
.main .button { background-image: linear-gradient(0deg, var(--pink-5) 0%, var(--pink-2) 100%); }
.main .button { box-shadow: 0px 5px 15px var(--pink-shadow); }
.main .popup { border: 1px solid var(--pink-shadow); background: var(--pink-1);}
.studio .eventdata { background-image: linear-gradient(0deg, var(--blue-5) 0%, var(--blue-1) 100%); }
.studio .button { background-image: linear-gradient(0deg, var(--blue-5) 0%, var(--blue-2) 100%); }
.studio .button { box-shadow: 0px 5px 15px var(--blue-shadow); }
.studio .popup { border: 1px solid var(--blue-shadow); background: var(--blue-1);}
.digital .eventdata { background-image: linear-gradient(0deg, var(--pear-5) 0%, var(--pear-1) 100%); }
.digital .button { background-image: linear-gradient(0deg, var(--pear-5) 0%, var(--pear-2) 100%); }
.digital .button { box-shadow: 0px 5px 15px var(--pear-shadow); }
.digital .popup { border: 1px solid var(--pear-shadow); background: var(--pear-1);}
.unknown .eventdata { background-image: linear-gradient(0deg, var(--grey-5) 0%, var(--grey-1) 100%); }
.unknown .button { background-image: linear-gradient(0deg, var(--grey-5) 0%, var(--grey-2) 100%); }
.unknown .button { box-shadow: 0px 5px 15px var(--grey-shadow); }
.unknown .popup { border: 1px solid var(--grey-shadow); background: var(--grey-1);}

.main .button:hover,
.studio .button:hover,
.digital .button:hover,
.unknown .button:hover {
    box-shadow: 0px 5px 25px white;
}

.main .button.compact:hover,
.studio .button.compact:hover,
.digital .button.compact:hover,
.unknown .button.compact:hover {
    box-shadow: 0px 5px 25px 5px white;
}

.popupContainer {
    position: relative;
}
.popup {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    margin: 0px;
    color: var(--fg-dark);
}

.popup .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup a {
    display: inline-block;
}
.popup pre {
    margin: 10px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    white-space: pre-wrap;
}

pre {
    font-family: "Atkinson Hyperlegible", sans-serif;
    white-space: pre-wrap;
}


.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px;
}

.row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

a.row {
    text-decoration: none;
    color: var(--fg-light);
}
a.row:hover {
    text-decoration: none;
    text-shadow: none;
    color: var(--fg-light);
}

a.row .glow {
    text-decoration: underline;
}
a.row:hover .glow {
    text-decoration: none;
    text-shadow: 0 0 calc(0.009 * var(--my-vw)) white;
    color: white;
}

.container {
    padding: 2vh 5vw;
    margin: 2vh 5vw;
    background-color: var(--bg);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -10;
    background-image: linear-gradient(90deg, var(--bg) 10%, var(--pink-1) 50%, var(--bg) 90%);
}

.attributed {
    display: flex;
    flex-direction: column;
}
.attribution, .attribution a {
    text-align: center;
    color: black;
    background-color: #444;
}
